<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.clxmm.springbootsecuritydemo.core.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="org.clxmm.springbootsecuritydemo.core.entry.SysMenu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, name, permission
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.clxmm.springbootsecuritydemo.core.entry.SysMenu">
    insert into sys_menu (menu_id, name, permission
      )
    values (#{menuId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.clxmm.springbootsecuritydemo.core.entry.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="permission != null">
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.clxmm.springbootsecuritydemo.core.entry.SysMenu">
    update sys_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.clxmm.springbootsecuritydemo.core.entry.SysMenu">
    update sys_menu
    set name = #{name,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
</mapper>